ArmandoShop-TopTier/ProvidersClient/Service References/Model.Services/HtppArmandoShopService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ArmandoShop.ContractsService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ArmandoShop.ContractsService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ArmandoShop.ContractsService/Imports">
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd7" namespace="http://ArmandoShop.ContractsService" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd0" namespace="http://ArmandoShop.ProductsService" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArmandoShop.Model" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd3" namespace="http://ArmandoShop.ProvidersService" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd4" namespace="http://ArmandoShop.categoryService" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd5" namespace="http://ArmandoShop.OrdersService" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContractsService_ListContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:ListContracts" />
  </wsdl:message>
  <wsdl:message name="IContractsService_ListContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IContractsService_NewContract_InputMessage">
    <wsdl:part name="parameters" element="tns:NewContract" />
  </wsdl:message>
  <wsdl:message name="IContractsService_NewContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewContractResponse" />
  </wsdl:message>
  <wsdl:message name="IContractsService_ModifyContract_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyContract" />
  </wsdl:message>
  <wsdl:message name="IContractsService_ModifyContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyContractResponse" />
  </wsdl:message>
  <wsdl:message name="IContractsService_DeleteContract_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContract" />
  </wsdl:message>
  <wsdl:message name="IContractsService_DeleteContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IContractsService">
    <wsdl:operation name="ListContracts">
      <wsdl:input wsaw:Action="http://ArmandoShop.ContractsService/IContractsService/ListContracts" message="tns:IContractsService_ListContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://ArmandoShop.ContractsService/IContractsService/ListContractsResponse" message="tns:IContractsService_ListContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewContract">
      <wsdl:input wsaw:Action="http://ArmandoShop.ContractsService/IContractsService/NewContract" message="tns:IContractsService_NewContract_InputMessage" />
      <wsdl:output wsaw:Action="http://ArmandoShop.ContractsService/IContractsService/NewContractResponse" message="tns:IContractsService_NewContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyContract">
      <wsdl:input wsaw:Action="http://ArmandoShop.ContractsService/IContractsService/ModifyContract" message="tns:IContractsService_ModifyContract_InputMessage" />
      <wsdl:output wsaw:Action="http://ArmandoShop.ContractsService/IContractsService/ModifyContractResponse" message="tns:IContractsService_ModifyContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContract">
      <wsdl:input wsaw:Action="http://ArmandoShop.ContractsService/IContractsService/DeleteContract" message="tns:IContractsService_DeleteContract_InputMessage" />
      <wsdl:output wsaw:Action="http://ArmandoShop.ContractsService/IContractsService/DeleteContractResponse" message="tns:IContractsService_DeleteContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>