ArmandoShop-TopTier/ProvidersClient/Service References/Model.Services/HtppArmandoShopService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ArmandoShop.ProvidersService" elementFormDefault="qualified" targetNamespace="http://ArmandoShop.ProvidersService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArmandoShop.Model" />
  <xs:element name="GetProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ArmandoShop.Model" minOccurs="0" name="GetProviderResult" nillable="true" type="q1:Provider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ArmandoShop.Model" minOccurs="0" name="user" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ArmandoShop.Model" minOccurs="0" name="GetProviderByUserResult" nillable="true" type="q3:Provider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProviders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ArmandoShop.Model" minOccurs="0" name="ListProvidersResult" nillable="true" type="q4:ArrayOfProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvidersByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategory" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvidersByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ArmandoShop.Model" minOccurs="0" name="GetProvidersByCategoryResult" nillable="true" type="q5:ArrayOfProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ArmandoShop.Model" minOccurs="0" name="provider" nillable="true" type="q6:Provider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewProviderResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ArmandoShop.Model" minOccurs="0" name="provider" nillable="true" type="q7:Provider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyProviderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProviderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>