ArmandoShop-TopTier/ProvidersClient/Service References/Model.Services/HtppArmandoShopService6.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ArmandoShop.CustomersService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ArmandoShop.CustomersService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ArmandoShop.CustomersService/Imports">
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd9" namespace="http://ArmandoShop.CustomersService" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd0" namespace="http://ArmandoShop.ProductsService" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArmandoShop.Model" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd3" namespace="http://ArmandoShop.ProvidersService" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd4" namespace="http://ArmandoShop.categoryService" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd5" namespace="http://ArmandoShop.OrdersService" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd7" namespace="http://ArmandoShop.ContractsService" />
      <xsd:import schemaLocation="http://localhost:8080/HtppArmandoShopService?xsd=xsd8" namespace="http://ArmandoShop.UsersService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomersService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomersService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomersService_GetCustomerByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByUser" />
  </wsdl:message>
  <wsdl:message name="ICustomersService_GetCustomerByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomersService_ListCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomersService_ListCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomersService_NewCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:NewCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomersService_NewCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomersService_ModifyCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomersService_ModifyCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomersService_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomersService_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomersService">
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://ArmandoShop.CustomersService/ICustomersService/GetCustomer" message="tns:ICustomersService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://ArmandoShop.CustomersService/ICustomersService/GetCustomerResponse" message="tns:ICustomersService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByUser">
      <wsdl:input wsaw:Action="http://ArmandoShop.CustomersService/ICustomersService/GetCustomerByUser" message="tns:ICustomersService_GetCustomerByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://ArmandoShop.CustomersService/ICustomersService/GetCustomerByUserResponse" message="tns:ICustomersService_GetCustomerByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCustomers">
      <wsdl:input wsaw:Action="http://ArmandoShop.CustomersService/ICustomersService/ListCustomers" message="tns:ICustomersService_ListCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://ArmandoShop.CustomersService/ICustomersService/ListCustomersResponse" message="tns:ICustomersService_ListCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewCustomer">
      <wsdl:input wsaw:Action="http://ArmandoShop.CustomersService/ICustomersService/NewCustomer" message="tns:ICustomersService_NewCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://ArmandoShop.CustomersService/ICustomersService/NewCustomerResponse" message="tns:ICustomersService_NewCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCustomer">
      <wsdl:input wsaw:Action="http://ArmandoShop.CustomersService/ICustomersService/ModifyCustomer" message="tns:ICustomersService_ModifyCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://ArmandoShop.CustomersService/ICustomersService/ModifyCustomerResponse" message="tns:ICustomersService_ModifyCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://ArmandoShop.CustomersService/ICustomersService/DeleteCustomer" message="tns:ICustomersService_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://ArmandoShop.CustomersService/ICustomersService/DeleteCustomerResponse" message="tns:ICustomersService_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>