ArmandoShop-TopTier/WebApplication/Service References/Models.Services/ArmandoShop.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ArmandoShop.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ArmandoShop.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element name="category" nillable="true" type="tns:Category" />
      <xs:element name="description" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:long" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="price" type="xs:decimal" />
      <xs:element name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element name="description" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:long" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="products" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element name="providers" nillable="true" type="tns:ArrayOfProvider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="ArrayOfProvider">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Provider" nillable="true" type="tns:Provider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvider" nillable="true" type="tns:ArrayOfProvider" />
  <xs:complexType name="Provider">
    <xs:sequence>
      <xs:element name="address" nillable="true" type="xs:string" />
      <xs:element name="categories" nillable="true" type="tns:ArrayOfCategory" />
      <xs:element name="id" type="xs:long" />
      <xs:element name="mail" nillable="true" type="xs:string" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="phone" nillable="true" type="xs:string" />
      <xs:element name="surname" nillable="true" type="xs:string" />
      <xs:element name="user" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Provider" nillable="true" type="tns:Provider" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="id" type="xs:long" />
      <xs:element name="password" nillable="true" type="xs:string" />
      <xs:element name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element name="address" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:long" />
      <xs:element name="mail" nillable="true" type="xs:string" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="phone" nillable="true" type="xs:string" />
      <xs:element name="surname" nillable="true" type="xs:string" />
      <xs:element name="user" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="amounts" nillable="true" type="q1:ArrayOfKeyValueOflongint" />
      <xs:element name="customer" nillable="true" type="tns:Customer" />
      <xs:element name="dateOfBuy" type="xs:dateTime" />
      <xs:element name="dateOfDeliver" type="xs:dateTime" />
      <xs:element name="delivered" type="xs:boolean" />
      <xs:element name="id" type="xs:long" />
      <xs:element name="products" nillable="true" type="tns:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract" nillable="true" type="tns:Contract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract" nillable="true" type="tns:ArrayOfContract" />
  <xs:complexType name="Contract">
    <xs:sequence>
      <xs:element name="charged" type="xs:boolean" />
      <xs:element name="date" type="xs:dateTime" />
      <xs:element name="id" type="xs:long" />
      <xs:element name="product" nillable="true" type="tns:Product" />
      <xs:element name="provider" nillable="true" type="tns:Provider" />
      <xs:element name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract" nillable="true" type="tns:Contract" />
</xs:schema>